html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Adjust as needed */
}

.MainMessager,
    .Messager_Bottom {
        height: 50px; /* Set the desired height */
        background-color: white; /* Just for visualization */
    }

#currentStatus {
  padding: 10px; /* Add padding for better appearance */
  background-color: #f0f0f0; /* Add a background color */
}

#feed {
  flex: 1; /* This allows the feed to stretch */
  overflow-y: auto; /* Add vertical scrollbar if content overflows */
  background-color: darkgrey; /* Just for visualization */
}


.message {
  margin-top: 10px;
  padding: 15px;
  background-color: grey;
  border-radius: 10px;
}

.message p {
  margin: 0;
}

.sender {
  font-size: 25px;
  font-weight: bold;
}
